<html>
	<body>
		<form action="/placar" method="post">
			<select id="time" name="time">
                <option value="Botafogo">Botafogo</option>
                <option value="Flamengo">Flamengo</option>
                <option value="Fluminense">Fluminense</option>
                <option value="Vasco">Vasco</option>
                <option value="Saopaulo">São Paulo</option>
                <option value="Santos">Santos</option>
                <option value="Palmeiras">Palmeiras</option>
                <option value="Corinthians">Corinthians</option>                
            </select>
			<div>				
				<input type="submit" value="Gol" />
			</div>
		</form>
	</body>
</html>